In [1]:
#
#conda install datasets matplotlib pandas, conda activate python_course
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#Data Cleanup

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])


#DATA MAANGEMENT - df.sample() and df.copy()

c:\Users\seane\Anaconda3\envs\python_course\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
#df.sample() method - returns a random sample of items from df

df.sample(10)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
622499,Software Engineer,Senior Engineer,"Bengaluru, Karnataka, India",via LinkedIn,Full-time,False,India,2023-10-05 12:12:22,False,False,India,None,NaN,NaN,Careernet,['gcp'],{'cloud': ['gcp']}
533398,Data Scientist,Stagiaire Data Scientist H/F,"Saint-Sauveur, France",via Ai-Jobs.net,Contractor,False,France,2023-01-04 04:52:23,False,False,France,None,NaN,NaN,Syngenta Group,"['python', 'numpy', 'scikit-learn']","{'libraries': ['numpy', 'scikit-learn'], 'prog..."
333377,Data Engineer,Data Engineer,"Austin, TX",via Indeed,Full-time,False,"California, United States",2023-08-23 23:07:04,True,False,United States,hour,NaN,52.5,Volto Consulting,"['python', 'sql', 'spark', 'kafka', 'airflow',...","{'analyst_tools': ['splunk'], 'libraries': ['s..."
38908,Software Engineer,Sr. Software Engineer,Mexico,via BeBee,Full-time,False,Mexico,2023-08-04 06:25:03,True,False,Mexico,None,NaN,NaN,AXEN,"['sql', 'db2']","{'databases': ['db2'], 'programming': ['sql']}"
203090,Data Scientist,"University, Data Scientist Intern Jobs","Fayetteville, NC",via Security Clearance Jobs,"Full-time, Part-time, and Internship",False,"Florida, United States",2023-12-18 22:03:48,False,True,United States,None,NaN,NaN,Booz Allen Hamilton,"['c++', 'javascript', 'java', 'python', 'spring']","{'libraries': ['spring'], 'programming': ['c++..."
236117,Senior Data Scientist,Data Scientist Senior,"Vi√±a del Mar, Chile",via BeBee,Full-time,False,Chile,2023-09-23 07:31:55,False,False,Chile,None,NaN,NaN,BairesDev,None,None
73625,Business Analyst,Business Intelligence Analyst,"Eindhoven, Netherlands",via Nationale Vacaturebank,Internship,False,Netherlands,2023-09-16 00:38:27,False,False,Netherlands,None,NaN,NaN,ASML,"['sap', 'excel']","{'analyst_tools': ['sap', 'excel']}"
225416,Data Engineer,Associate Data Engineer,"Houston, TX",via ZipRecruiter,Full-time,False,Georgia,2023-04-14 08:26:58,False,True,United States,None,NaN,NaN,Tailored Brands,"['python', 'shell', 'sql', 'airflow', 'tableau...","{'analyst_tools': ['tableau', 'microstrategy']..."
581181,Cloud Engineer,Junior Recovery Analyst,Anywhere,via ZipRecruiter,Full-time,True,"Florida, United States",2023-05-01 09:02:57,False,False,United States,None,NaN,NaN,Tetra Tech,"['excel', 'outlook', 'sharepoint', 'word']","{'analyst_tools': ['excel', 'outlook', 'sharep..."
125124,Data Engineer,Web3 Data Engineer,Hong Kong,via LinkedIn,Full-time,False,Hong Kong,2023-01-30 08:33:11,False,False,Hong Kong,None,NaN,NaN,Tencent Games,['sql'],{'programming': ['sql']}

In [6]:
df_original = df

In [8]:
#need to make a copy so that the original df won't incorporate any new calcs. 
#When you do df_original = df, it assigns it as the same key 
#and therefore, calcs done to one will impact the other - use the .copy() for future reference

df_original = df.copy()